<!-- <td-layout>
  <td-navigation-drawer flex sidenavTitle="{{user_role}}" logo="teradata-dark" name="{{name}}" email="{{email}}">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>home</mat-icon>Home
      </a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a mat-list-item>
          <mat-icon>account_box</mat-icon>Profile
        </a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav logo="assets:teradata" toolbarTitle="HR Managerment" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon>chrome_reader_mode</mat-icon>
    <td-layout-manage-list opened="true" mode="side" [opened]="media.registerQuery('gt-sm') | async"
      [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
      [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
      <mat-toolbar td-sidenav-content>Actions</mat-toolbar>
      <div td-sidenav-content>
        <div td-navigation-drawer-menu>
          <mat-nav-list [tdLayoutManageListClose]="!media.query('gt-sm')">
            <a mat-list-item>
              <mat-icon matListIcon>looks_one</mat-icon>Add user
            </a>
            <a mat-list-item>
              <mat-icon matListIcon>looks_two</mat-icon>List employess
            </a>
            <a mat-list-item>
              <mat-icon matListIcon>looks_3</mat-icon> KPI
            </a>
            <a mat-list-item>
              <mat-icon matListIcon>looks_4</mat-icon> Item 4
            </a>
            <a mat-list-item>
              <mat-icon matListIcon>looks_5</mat-icon> Item 5
            </a>
          </mat-nav-list>
        </div>
      </div>
      <mat-toolbar>
        <button mat-button tdLayoutManageListToggle>
          <mat-icon>list</mat-icon>
        </button>
        Dashboard
      </mat-toolbar>
      <router-outlet></router-outlet>
    </td-layout-manage-list>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Copyright &copy; 2019 Nam Nguyen & Huyen Tran. All rights reserved</span>
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout> -->
<td-layout>
  <td-navigation-drawer flex sidenavTitle="Covalent" logo="teradata-dark" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a *ngFor="let item of routes" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav-list #navList
        [opened]="media.registerQuery('gt-sm') | async"
        [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
        [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '250px' : '100%'">
    <div td-sidenav-toolbar-content layout="row" layout-align="start center">
      <button mat-icon-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon [routerLink]="['/']" class="mat-icon-logo cursor-pointer" svgIcon="assets:teradata"></mat-icon>
      <span [routerLink]="['/']" class="cursor-pointer">Covalent</span>
    </div>
    <!-- <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>Page Title</span>
      <span flex></span>
      <a mat-icon-button matTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><mat-icon>chrome_reader_mode</mat-icon></a>
      <a mat-icon-button matTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><mat-icon>github</mat-icon></a>
    </div> -->
    <div td-toolbar-content layout="row" layout-align="end center" flex>
        <span flex></span>
        <a routerLink="/invoices" md-button class="mat-button">Invoices</a>
        <a routerLink="/customers" md-button class="mat-button">Customers</a>
      </div>
    <mat-nav-list td-sidenav-content [tdLayoutNavListClose]="!media.query('gt-sm')">
      <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
        <a mat-list-item>
          <mat-icon matListAvatar>{{item.icon}}</mat-icon>
          <h3 matLine> {{item.title}} </h3>
          <p matLine> {{item.description}} </p>
        </a>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-nav-list>
    <!-- <td-layout-footer-inner>
      Optional inner footer
    </td-layout-footer-inner> -->
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
      </div>
    </td-layout-footer>
  </td-layout-nav-list>
</td-layout>